extends layout

block content

  if user
    p Welcome back #{user.username}

    if user
      a(href="/newmessage") New Message
  
  div.messagebox
    each message in messages
      div.message
        p=message.title
        p=message.text
        if user && (user.membership === "Member" || user.membership === "Admin")
          p=message.user.username
          p=message.timestamp
        if user && user.membership === "Admin"
          a(href=("/deletemessage/" + message._id)) Delete Message